<section class="home-container">
  <article class="home-content">
    <div class="home-welcome">
      <h1>Tenha um melhor controle!</h1>
      <p>
        Rápido e Fácil. Liste Agora suas tarefas diárias para não ser
        surpreendido depois!
      </p>

      <div class="container-button button-home" routerLink="/task/create">
        <button>
          Nova Tarefa
        </button>
        <button>
          <img src="/assets/img/arrow.svg" alt="logo" />
        </button>
      </div>

    </div>
    <div class="home-logo">
      <img src="/assets/img/home.jpg" alt="logo" />
    </div>
  </article>
</section>
